---
import { siteDescription, siteLocales, siteName } from '@/config';

// Types
type Props = {
  title?: string;
  description?: string;
  image?: string;
};

// Injects
const { title, description, image } = Astro.props;

// Computes
const displayTitle: string = title ? `${title} - ${siteName}` : siteName;

const alternateLocales: string[] = siteLocales.filter(
  (loc: string): boolean => loc !== Astro.currentLocale
);
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <title>{displayTitle}</title>
    <link rel="canonical" href={Astro.url} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content={description || siteDescription} />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:site_name" content={siteName} />
    <meta name="og:locale" content={Astro.currentLocale} />
    {
      alternateLocales.map((loc: string) => (
        <meta name="og:locale:alternate" content={loc} />
      ))
    }
    <meta name="og:title" content={title || siteName} />
    <meta name="og:description" content={description || siteDescription} />
    <meta name="og:type" content="website" />
    <meta name="og:url" content={Astro.url} />
    {image && <meta name="og:image" content={image} />}
  </head>
  <body>
    <slot />
  </body>
</html>
